.benefitsPageContainer {
  position: relative;
  padding-top: 150px;
  margin-top: 10px;
  background-color: #f8fbfc;
}

.sectionTitle {
  text-align: center;
  color: #eecb61;
  font-size: 22px;
  font-weight: 800;
}

.customShapeDividerTop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customShapeDividerTop svg {
  position: relative;
  display: block;
  width: calc(107% + 1.3px);
  height: 215px;
}

.customShapeDividerTop .shapeFill {
  fill: white;
}
.title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-top: 12px;
}

.title span {
  font-weight: 700;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
  padding-bottom: 42px;
}

.card {
  height: 400px;
  width: 400px;
  background-color: white;
}

.customDividerContainer {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customDividerContainer svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.customDividerContainer .shapeFill {
  fill: #f8fbfc;
}

@media screen and (max-width: 800px) {
  .title {
    font-size: 28px;
  }

  .sectionTitle {
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  .title {
    font-size: 26px;
  }
  .sectionTitle {
    font-size: 18px;
  }
  .benefitsPageContainer {
    margin-top: 32px;
  }
  .customDividerContainer svg,
  .customShapeDividerTop svg {
    width: calc(100% + 1.3px);
    height: 100px;
  }
}
@media screen and (max-width: 500px) {
  .title {
    font-size: 24px;
  }
  .sectionTitle {
    font-size: 18px;
  }
  .benefitsPageContainer {
    margin-top: 42px;
  }
}
@media screen and (max-width: 400px) {
  .customDividerContainer svg,
  .customShapeDividerTop svg {
    width: calc(100% + 1.3px);
    height: 75px;
  }
}
