.benefitsPageContainer {
  position: relative;
  padding-top: 150px;
  margin-top: 10px;
  background-color: #f8fbfc;
}

.sectionTitle {
  text-align: center;
  color: #eecb61;
  font-size: 22px;
  font-weight: 900;
}

.customShapeDividerTop {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.customShapeDividerTop svg {
  position: relative;
  display: block;
  width: calc(107% + 1.3px);
  height: 215px;
}

.customShapeDividerTop .shapeFill {
  fill: white;
}
.title {
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  margin-top: 12px;
}

.title span {
  font-weight: 700;
}

.cardsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}

.card {
  height: 400px;
  width: 400px;
  background-color: white;
}
