.teamPageContainer {
  margin-top: 100px;
}

.title {
  text-align: center;
  font-weight: 600;
}

.teamContainer {
  margin-top: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 700px) {
  .teamPageContainer {
    margin-top: 125px;
  }
}
@media screen and (max-width: 400px) {
  .teamPageContainer {
    margin-top: 150px;
  }
}
