.homePageContainer {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  margin-top: 2.5%;
}

.homePageContainer button:hover {
  cursor: pointer;
}

.left {
  max-width: 40%;
  margin-top: 5%;
}

.satisfaction {
  text-transform: uppercase;
  font-size: 18px;
  color: #eecb61;
  margin: 0px;
}

.title {
  font-weight: 300;
  font-size: 52px;
  margin-top: 14px;
  margin-bottom: 14px;
  line-height: 82px;
  position: relative;
}

.title span {
  font-weight: 600;
}
.description {
  font-size: 18px;
  color: #a9a9a9;
}

.button {
  background-color: #eecb61;
  border: none;
  border-radius: 12px;
  width: 200px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  margin-top: 14px;
}

.button:hover {
  background-color: #dfbb50;
}

.buttonContainer {
  margin-top: 20px;
}

.blue {
  background-color: #3965f7;
  color: white;
  margin-left: 12px;
}

.blue:hover {
  background-color: #2d53d9;
}

.right {
  max-width: 40%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}

.image {
  width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 22px;
}

#firstImage {
  border-radius: 1000px;
}

#lastImage {
  border-radius: 0px 100px 100px 0px;
}

.dot {
  border-radius: 1000px;
  position: absolute;
}

.blueDot {
  background-color: #598dd5;
  width: 25px;
  height: 25px;
  top: 0px;
  right: -30px;
}

.yellowDot {
  background-color: #eecb61;
  width: 200px;
  height: 200px;
  top: -25px;
  left: -50px;
  z-index: -1;
}

.smallPinkLeft {
  background-color: #f7b6d2;
  width: 50px;
  height: 50px;
  bottom: 10px;
  left: -20%;
}

.smallPinkRight {
  background-color: #f7b6d2;
  width: 25px;
  height: 25px;
  bottom: 80%;
  right: -10%;
}

.imageContainer {
  position: relative;
}

@media screen and (max-width: 1615px) {
  .image {
    width: 315px;
    height: 315px;
  }
}
@media screen and (max-width: 1450px) {
  .title {
    font-size: 42px;
    line-height: 62px;
  }
  .left {
    max-width: 35%;
  }
  .right {
    max-width: 55%;
  }
}
@media screen and (max-width: 1300px) {
  .image {
    width: calc(315px - 31.5px);
    height: calc(315px - 31.5px);
  }
}
@media screen and (max-width: 1250px) {
  .image {
    /* Shrink image width and height 10% */
    width: calc(315px - 60px);
    height: calc(315px - 60px);
  }
}
@media screen and (max-width: 1180px) {
  .left {
    max-width: 45%;
  }
}

@media screen and (max-width: 1100px) {
  .imageContainer1 {
    display: none;
  }
  .imageContainer3 {
    display: none;
  }
  .right {
    grid-template-columns: 1fr;
  }
  .image {
    width: 315px;
    height: 315px;
  }
  #lastImage {
    border-radius: 22px;
  }
}

@media screen and (max-width: 1000px) {
  .title {
    font-size: 38px;
  }
  .button {
    width: calc(200px - 20px);
    height: calc(50px - 5px);
    font-size: 15px;
  }
}

@media screen and (max-width: 850px) {
  .imageContainer {
    display: none;
  }
  .left {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .homePageContainer {
    padding-bottom: 25px;
  }
  .title {
    text-align: center;
    font-size: 34px;
  }
  .description {
    text-align: center;
  }
}

@media screen and (max-width: 725px) {
  .title {
    font-size: 30px;
  }
  .description {
    font-size: 16px;
  }
}

@media screen and (max-width: 590px) {
  .left {
    max-width: 90%;
    margin: 50px auto;
  }
  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 470px) {
  .title {
    font-size: 26px;
  }
}

@media screen and (max-width: 400px) {
  .button {
    width: calc(200px - 40px);
    height: calc(50px - 10px);
    font-size: 14px;
  }
}

@media screen and (max-width: 340px) {
  .satisfaction {
    font-size: 16px;
  }
  .button {
    width: calc(200px - 60px);
    height: calc(50px - 15px);
    font-size: 13px;
  }
}
